<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <hr>
      <app-username></app-username>
      <hr>
      <app-details></app-details>
      <table border ="1">
        <tr>
          <td>ID</td>
          <td>Title</td>
          <td>User Id</td>
        </tr>
        <tr *ngFor ="let item of data">
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.userId }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
